[submodule "matconvnet"]
	path = matconvnet
	url = git@bitbucket.org:ovl/matconvnet.git
[submodule "vlfeat"]
	path = vlfeat
	url = git@bitbucket.org:ovl/vlfeat.git
[submodule "matlab-helpers"]
	path = matlab-helpers
	url = git@bitbucket.org:vedaldi/matlab-helpers.git
